.pagination a {
  color: black;
  padding-left: 50px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
   
}
.pagination1{
    padding-left:40px;
    padding-left: 50%;
}
.pagination1{
    padding-left:45%;
}
/* Style the active/current link */
.pagination .pagination1 a.active {
  background-color: dodgerblue;
  color: black;
    
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
